/* Full-page centering and background color */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #f3f4f6; /* Light gray background */
}

.profile-container {
    max-width: 900px;
    width: 100%;
    background: #ffffff; /* White card background */
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
   

}

/* Dark rectangle bar at the top */
.profile-header-bar {
    height: 50px;
    width: 100%;
    background: #151515; 
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.profile-container-content {
    padding-top: 70px; /* Adds extra space to prevent overlap with the header bar */
}

.welcome-header {
    text-align: left;
    margin-bottom: 20px;
    padding-left: 20px;
}

.welcome-header h1 {
    font-size: 28px;
    margin: 0;
}

.welcome-header p {
    font-size: 16px;
    color: #888;
    margin-top: 5px;
}

.profile-header {     
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1;
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
}

.profile-info p {
    margin: 5px 0 0 0;
    color: #888;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input, 
.input-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.submit-button {
    background-color: #151515;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    align-self: flex-end;
}

.submit-button:hover {
    background-color: #373738;
}
